<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <queries>
        <package android:name="org.telegram.messenger" />
    </queries>


    <application
        android:name=".utils.MainApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WAToolkit">
        <activity
            android:name=".activity.AnimatedListActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.AnimatedDetailsActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.MoreAppsActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.TextRepeaterActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".sticker.StickerPackListActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.BrandActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StatusPreviewActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.AnimatedEmojiActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.TextToEmojiActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.TextDecorativeActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.StylishFontActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.ShakeDetectionActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.StatusSaverActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.DirectMessageActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.DeleteMsgActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor" />

        <provider
            android:name=".provider.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".sticker.StickerDetailsActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pistalix.watoolkit.sticker.StickerPackListActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>